*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: var(--br);
}

.container {
  max-width: 25rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: none;
  text-decoration: none;
  margin: 1rem;
}

/* card styles */
.card {
  border: 1px solid grey;
}

.sign-in-header {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.sign-in-header > div > img {
  width: 10rem;  
}

.google-login {
  text-align: center;
  padding: 1rem;
}

.btn.google-btn {
  background-color: lightcoral;
  padding: 0.5rem 3rem;
  border-radius: 5px; 
} 

.validate-adddress  {
  /* border: 1px solid blue;  */
  padding: 1rem;
}

.validate-adddress > label{
  display: block;
  text-align: center;
}

.validate-adddress > input {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 1.5rem;
}
.card-footer {
  padding: 1rem;
  text-align: center;
}
.digio-link {
  text-decoration: none;
  color: rgb(65, 120, 238);
}

.btn.continue-btn {
  background-color: lightskyblue;
  padding: 0.5rem 3.5rem;
}

.card-footer-secondary {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

 .footer-info {
  display: flex;
 }

 .footer-info > img {
  padding-right: 0.5rem;
  width: 3rem;
 }

/* register card */
.register-section {
  background-color: lightslategray;
  height: 100vh;
}

.register-card {
  z-index: 9;
  padding: 1rem;
  background-color: white;
}

.card-contents {
  display: flex;
  justify-content: center;
}
.image-container{
  display: flex;
  align-items: center;
}
.image-container > img{
  width: 7rem;
}
.card-fields-input {
  min-width: 150px;
  max-width: 150px;
  height: 1.5rem;
}
.card-fields {
  padding: 0rem 2rem;
}


.btn.btn-verify {
  background-color: grey;
  padding: 0.5rem 1rem;
}

.btn.btn-verify:hover{
  color: white;
}

@media (max-width: 440px) {
  .card-contents {
    flex-direction: column;
  }

  .image-container > img{
    width: 7rem;
    margin: auto;
  }

  .card-fields {
    padding: 0rem;
  }

  .btn {
    margin: 0.5rem;
  }
}
/* alert */

.alert-msg {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  color: blue;
  padding: 1rem;
  border: 2px solid green;
  background-color: rgb(92, 136, 92);
}